{$DOMAIN} {
    encode zstd gzip

    handle /api/* {
        reverse_proxy backend:8000
    }

    handle /docs* {
        reverse_proxy backend:8000
    }

    handle /openapi.json {
        reverse_proxy backend:8000
    }

    handle_path /parent* {
        reverse_proxy frontend-parent:80
    }

    handle {
        reverse_proxy frontend-admin:80
    }
}
